@charset "utf-8";

@font-face {
font-family: "BEBAS";
src: url("fonts/big_noodle_titling.ttf"); /* para IE */
src: local("BebasNeue"), url("fonts/BEBAS.ttf") format("opentype");
} 
@font-face {
font-family: "Sansation_Light";
src: url("fonts/Sansation_Light.ttf"); /* para IE */
src: local("Sansation_Light"), url("fonts/Sansation_Light.ttf") format("opentype");
}
body { 
	/*font-family: verdana;*/
}
#versiculo{
	font-family: "Sansation_Light";
	font-size: 15px;
	color: white;
}
#section-topbar{
	margin: 0px;
	font-family: sans-serif;
}
div.section-info{
    color: white;
    text-align: center;
    vertical-align: center;
}
#section-header{
	background-color: #000;
	width: 100%;
}
#info-container{
	background-color: #000;
}
#top-bg{
	background-image: url(images/top.png);
	width: 100%;
	height: 450px;
	font-size: 40px;
}
#countdown{
	width: 100%;
	background-color: #000;
	color: #CBCB89;
	text-align: center;
}
#section-countdown{
	color: #CBCB89;
	background-color: #000;
}
div.navbar-header{
    min-height: 40px;
}
#details-icon{
	margin-top: 10px;
}
#details-conf-title{
	padding-top: 10px;
	font-weight: bold;
	font-family: "verdana";
	text-transform: uppercase;
}
#details-conf-subt{
	color: #B2B2B2;
	font-family: "Sansation_Light";
}
th{
    text-align: center;
}
#section-footer{
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    background-color: #000;
}

#top-bg-bottom{
	background-color: #222222;
	height: 10px;
}
#section-motivational-video{
	color: white;
	background-color: #222222;
	/*background-image: url(images/brokenWall1.png);*/
}
#footer-icons{
	padding: 0px;
	color: white;
	vertical-align: center;
}
#section-motivational-text{
	padding-top: 40px;
	padding-bottom: 40px;
	color:black;
}
#section-event-time{
	font-size: 15px;
}
#copytext{
	vertical-align: center;
	padding-right: 5px;
	margin-right: 10px;
}
#section-speakers{
	padding-bottom: 30px;
	text-transform: none;
	background-color: #F0F0D8;
}
#prog-sexta{
}
#prog-sab{
}
#prog-dom{
}
#prog-title{
}
#prog-subt{
}
#prog-details{
	font-size: 12px;
}
#text-type3{
	font-family: "Sansation_Light";
	font-size: 15px;
}
#text-type1{
	font-family: "HEADOH";
}
#ministries{
	font-family: "verdana";
}
#ministries-row{
	padding-top: 0px;
}
#bottom-space{
	padding-bottom: 50px;
}
#dia-hora{
	color: #800000;
}
#section-general-questions{
	background-color: #222222;
}
#details-bottom{
	background-color: #222222;
	height: 2px;
}